--extra-index-url https://download.pytorch.org/whl/cu116
torch
torchvision
albumentations
opencv-python
pudb
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
torch-fidelity
transformers
kornia
webdataset
torchmetrics
fire
gradio
diffusers
datasets[vision]
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/justinpinkney/nomi.git@e9ded23b7e2269cc64d39683e1bf3c0319f552ab#egg=nomi
-e .
